*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{ /* un color al navbar y la altura en pixeles*/
    background-color: #ecece6;
    padding-bottom: 10px;
}



header img /* tamaño de mi logo */{
    margin: 0;
    padding: 1px 40px;
}

header .container /*ubicación de nuestro navbar (header) */{
    display: flex;
    margin-right: 110px;
    flex-direction: column;
    align-items: center;
    height: 100px;
}


header .container2  /*ubicación de nuestro navbar2 (header) esto porque la página requiere de 2 navbar */ {
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    align-items: flex-end;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}


header nav{
    display: block;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header nav a /*color a los links(a), tamaño, y borde */{
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #242C70 ;
    background-color: #8685851f; 
    border-color: black; 
    border-radius: 7px;
}








.checkbtn{
    font-size: 30px;
    color: #242C70;
    float: right;
    line-height: 10px;
    margin-right: 240px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}










header .container2 a{
    background-color: transparent;
} 

header  nav a:hover{
    color: #242c70;
    box-shadow: 2px 2px 14px black;

}

header .container1 a:hover{
    background-color: #ecece6;
}




@media (min-width: 720px){

    

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header .nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

}



@media (max-width: 990px){
    .checkbtn{
        display: block;
    }
    ul{
		display: none;
     
        
	}
    header img /* tamaño de mi logo */{
        padding-left: 150px;
        padding-top: 10px;


    }


}

