*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{ /* un color al navbar y la altura en pixeles*/
    background-color: #ecece6;
}
#np_h{
    padding-bottom: 30px;
}


img /* tamaño de mi logo -header */{
    padding-left: 10%;
    padding-top: 13%;
    width: 120%;
    height: 150%;
}

header .container /*ubicación de nuestro navbar (header) */{
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


header .container2  /*ubicación de nuestro navbar2 (header) esto porque la página requiere de 2 navbar */ {
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    align-items: flex-end;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}


header nav{
    display: block;
    flex-direction: column;
    text-align: center;
}

header nav a /*color a los links(a), tamaño, y borde */{
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #242C70 ;
    background-color: #8685851f; 
    border-color: black; 
    border-radius: 7px;
}

.checkbtn{
    font-size: 30px;
    color: #242C70;
    float: right;
    position: relative;
    margin-right: 230px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

header .container2 a{
    background-color: transparent;
} 

header  nav a:hover{
    color: #242c70;
    box-shadow: 2px 2px 14px black;

}

header .container a:hover{
    background-color: #ecece6;
}



@media (min-width: 720px){

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header .nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 0px;
    }
}

@media (max-width: 990px){
    .checkbtn{
        display: block;
    }
    #img_h_h{
        display: block;
        margin: 0 0 0 25px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        margin-top: 20%;
        background: #040827;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: #c24620;
    }
    li a:hover, li a.active{
        background: none;
        color: #ecece6;
    }
    #check:checked ~ ul{
        left:0;
    }
    #ul-header{
        margin-top: 14%;
    }
    #img_h_h/* tamaño de mi logo */{
        width: 130%;
        height: 130%;
        margin: -20% 0 ;
        padding-top:35%;
        padding-left: 30%;
        padding-right: 10%;
    }
    #img_ss_h{
        display: flex;
        width: 80%;
        height: 170%;
        margin: -30px 100px 0 100px;
    }
}
/* @media (max-width: 990px){
    .checkbtn{
        display: block;
    }
    #img_ss_h{
        display: block;
        margin: 0 45px 0 0;
        padding: 25px 20px 10px 130px;
    }
    #img_h_h{
        display: block;
        margin: 0 0 0 25px;
    }

    ul{
        position: fixed;
        width: 100%;
        margin-top: 28%;
        background: #040827;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: #c24620;
    }
    li a:hover, li a.active{
        background: none;
        color: #ecece6;
    }
    #check:checked ~ ul{
        left:0;
    }

} */
