* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	background: #040827;
	font-family: sans-serif;
  }
  
  .contenedor {
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
	color: white;
<<<<<<< HEAD
=======
	text-shadow: 2px 3px #040827;
>>>>>>> cc1c76fc5489ee1bb211db18a5061902b56ed282
  }
  
  .contenedor-conciertos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
  }
  
  .card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	font-style: italic;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
<<<<<<< HEAD
	text-shadow: 2px 3px black;
=======
>>>>>>> cc1c76fc5489ee1bb211db18a5061902b56ed282
  }
  
  .banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
	display: grid;
	grid-template-rows: auto auto auto;
	align-items: center;
  }
  
  .banner .boton {
	background: #242c70c4;
	color: #c24620;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
<<<<<<< HEAD
	border-radius: 100px;
=======
	border-radius: 10px;
>>>>>>> cc1c76fc5489ee1bb211db18a5061902b56ed282
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
  }
  
  /* Media queries para dispositivos móviles */
  @media screen and (max-width: 768px) {
	.contenedor {
	  grid-template-columns: 1fr;
	  padding: 20px;
<<<<<<< HEAD
	  position: relative;
	  z-index: -1;
=======
>>>>>>> cc1c76fc5489ee1bb211db18a5061902b56ed282
	}
  
	.contenedor-conciertos {
	  grid-template-columns: 1fr;
	}
  
	.card {
	  padding: 10px;
	}
  
	.banner {
	  padding: 10px;
	}
<<<<<<< HEAD
  }

=======
  }
>>>>>>> cc1c76fc5489ee1bb211db18a5061902b56ed282
